<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rustnative.example"
>

    <application android:label="RustNative Example">
        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:label="Rust Native Example"
            android:configChanges="orientation|screenSize"
        >
            <meta-data
                android:name="android.app.lib_name"
                android:value="example_android"
            />
        </activity>
    </application>
</manifest>
